body {background-color: rgba(31, 30, 30, 0.856);
    font-size: 10px;
    color: white;}


    img {
        position: inline ;
        width: 1.5em;
        height: 1.5em;
        filter:invert(100%);
        margin: 2px;
    }

    table {
        margin: 50px;
        width: 80%;
        border: 0.5px solid white; 
        border-spacing: 0px;
        border-radius: 3px; 
        height: 15px;
    }
    
    th {
        padding:7px;
        text-align: left;
        font-size: 12px;
        height: 15px;
    }
    
    td {
        padding:10px;
        padding-right: 15px;
        text-align: left;
        border-top: 0.5px solid white;
        height: 15px;
    }
    a {
        text-decoration: none;
        color: #ffffff;
    }
   
    .point2, .point {
    font-weight: bold;}
    .point2 { color: grey;}

    .time { color: grey;}

    .name {margin-right: 80px;}

    .tired { position: right}

    